.guest-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card-wrapper {
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.guest-image {
  width: 300px;
  height: 300px;
}

.card-text {
  height: 85px;
}