.logo {
  width: 15%;
}

.nav-item {
  margin-left: 0rem;
  margin-right: 8.5rem;
}

.nav-social {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.fab {
  color: #c47701;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin-left: 8rem;
  }

  .nav-social {
    margin-left: 5rem;
  }
}
