.logo {
  width: 15%;
}

.mr-auto {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.nav-item {
  margin-left: 0rem;
}

.nav-social {
  width: 350px;
  display: flex;
  justify-content: space-around;
  border: solid 1px red;
}

.fab {
  color: #c47701;
}

@media only screen and (max-width: 767px) {
  .logo {
    display: flex;
  }
}
